
.ion{
    background-color: rgb(245, 245, 245);
}

.ok{
    margin: 0 auto;
    justify-content: center;
    width: 82%; 
    text-align: center;
}
.item.item-trns, .card {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(120, 139, 148);
    border-radius: 20px;
    color: white;
   
}
